* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  max-height: 1000px;
  height: 700px;
  position: relative;
  margin: auto;
  text-align: center;
}

.slide {
    padding: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

.mc-slide {
  padding: 30px 300px;
  width: 100%;
  height: 100%;
  border: none;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
#prev-slide, #next-slide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
#next-slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text-lg {
  color: black;
  font-size: 30px;
  padding: 8px 12px;
  width: 100%;
  margin-left: auto;
  text-align: left;
}

.text-md {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  width: 100%;
  margin-left: auto;
  text-align: left;
}

.text-sm {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  width: 100%;
  margin-left: auto;
  text-align: left;
}

.header {
  text-align: center;
}

.visited-button {
  background-color: cadetblue;
}

.last-button {
  background-color: coral;
}

.table, .tablerow, .tablecol {
  border: 1px solid black;
}
.tablerow, .tablecol {
  padding: 0px;
}

#next-part {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}

#prev-part {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}

.webcam-container{
  width: 320px;
  height: 240px;
  margin: 50px auto;
  border: 1px solid black;
}

.webcam {
  width: 320px;
  height: 240px;
}

.dd-ASL-bank {
  min-width: 500px; /*max letter width (P) = 219*/
  min-height: 200px;  /*max letter height (Z) = 252*/
  margin: 50px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.fs-ASL-bank {
  min-width: 279px; /*max letter width (P) = 219*/
  min-height: 272px;  /*max letter height (Z) = 252*/
  margin: 50px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.fsi-ASL-bank {
  display: inline;
}
.wc-ASL-bank {
  margin-top: 100px;
  text-align: center;
  font-size: 100px;
}

.dd-ASL-answer-bank {
  display: inline-flex;
}

.fs-ASL-answer-bank {
  display: flex;
  flex-wrap: wrap;
}

.fsi-ASL-answer-bank {
  margin-top: 50px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.dd-ASL-bank-answer {
  width: 279px;
  height: 272px;
  border: 1px solid black;
  margin: 10px;
}

.fs-ASL-bank-answer {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  border: 1px solid black;
  margin: 10px;
}

.fsi-ASL-bank-answer {
  margin: 10px;
  padding: 10px;
}

.ASL-bank-text {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.dd-ASL-image {
  padding: 10px 30px;
}

.fs-ASL-image {
  padding: 10px 30px;
}


.fsi-ASL-image {
  padding: 10px;
  width: auto;
  height: 100px;
}