<h1 style="text-align: center;margin: 50px;">WELCOME TO LESSON {{lesson_num}}: {{type}}!</h1>
<h2 style="text-align: center" id="timer"></h2>
<div class="slideshow-container">

</div>
<div style= "position: relative; bottom: 0;">
<button class="btn btn-outline-success" id="prev-part">Previous Part</button>
<button class="btn btn-outline-info" id="next-part">Next Part</button>
</div>
<a class="carousel-control-prev" id="prev-slide" style="width: 40px;">&#10094;</a>
<a class="carousel-control-next" id="next-slide">&#10095;</a>