<html>
    <head>
        <meta charset="utf-8"/>
        <title>Duohando Dashboard</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://duohando.com/favicon.ico">
    </head>
    <body>
        <form action="/logout", method="GET">
            <div>
                <button>Logout</button>
            </div>
        </form>
        <form action="/activate2FA" method="POST">
            <div>
                <button>Activate 2FA with Google Authenticator</button>
            </div>
        </form>
        <form action="/changePhoneNumber" method="POST">
            <div>
                <label for="phone_num_new">New Phone Number</label>
                <input name="phone_num_new" placeholder="###-###-####" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
            </div>
            <div>
                <button>Change Phone Number</button>
            </div>
        </form>
        <form action="/changePassword" method="POST">
            <div>
                <label for="password_new">New Password</label>
                <input name="password_new" type="password"/>
            </div>
            <div>
                <button>Change Password</button>
            </div>
        </form>
        <form action="/changeToEmail" method="POST">
            <div>
                <label for="email">Email</label>
                <input name="email" type="email"/>
            </div>
            <div>
                <label for="password">Password</label>
                <!--At least 8 characters with at least 1: number, letter, and symbol-->
                <input name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[-+_!@#$%^&*.,?]).{8,}"/>
            </div>
            <div>
                <button>Change to Email Account</button>
            </div>
        </form>
        <form action="/changeToGoogle" method="GET">
            <div>
                <button>Change to Google Account</button>
            </div>
        </form>
        <form action="/changeToFacebook" method="GET">
            <div>
                <button>Change to Facebook Account</button>
            </div>
        </form>
    </body>
</html>