<html>
    <head>
        <meta charset="utf-8"/>
        <title>Duohando Dashboard</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://duohando.com/favicon.ico">
    </head>
    <body>
        <form action="/logout", method="GET">
            <div>
                <button>Logout</button>
            </div>
        </form>
        <% if (locals.qrcode !== undefined && locals.token !== undefined) { %>
            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_US&gl=US">Android</a>
            <a href="https://apps.apple.com/us/app/google-authenticator/id388497605">iPhone</a>
            <a href="https://authenticator.cc/">Web Browser Extension</a>
            <br>
            <p>Install one of the listed apps and capture the QR code or manually type the token</p>
            <img src=<%= qrcode %>>
            <p>Token: <%= token %></p>
            <form action="/activate2FA", method="POST">
                <div>
                    <label for="token">Code</label>
                    <input name="token" type="text"/>
                </div>
                <div>
                    <button>Submit Code</button>
                </div>
            </form>
        <% } else { %>
            <form action="/showActivate2FAForm" method="GET" >
                <div>
                    <button>Activate 2-Factor Authentication</button>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_US&gl=US">Android</a>
                <a href="https://apps.apple.com/us/app/google-authenticator/id388497605">iPhone</a>
                <a href="https://authenticator.cc/">Web Browser Extension</a>
            </form>
        <% } %>
        <div style="border-style: solid; border-width: 1px; padding: 10px">
            <div>
                <p>Only for email/password accounts</p>
            </div>
            <form action="/changePassword-2FA" method="GET">
                <div>
                    <button>Change Password</button>
                </div>
            </form>
            <form action="/changeEmail-2FA" method="GET">
                <div>
                    <button>Change Email</button>
                </div>
            </form>
        </div>
        <div style="border-style: solid; border-width: 1px; padding: 10px">
            <div>
                <p>Only for email/password and Facebook accounts</p>
            </div>
            <form action="/changeToGoogle-2FA" method="GET">
                <div>
                    <button>Change to Google Account</button>
                </div>
            </form>
        </div>
        <div style="border-style: solid; border-width: 1px; padding: 10px">
            <div>
                <p>Only for email/password and Google accounts</p>
            </div>
            <form action="/changeToFacebook-2FA" method="GET">
                <div>
                    <button>Change to Facebook Account</button>
                </div>
            </form>
        </div>
        <form action="/changeToEmail-2FA" method="GET" style="border-style: solid; border-width: 1px; padding: 10px">
            <div>
                <p>Only for external Google/Facebook accounts</p>
            </div>
            <div>
                <button>Change to Email Account</button>
            </div>
        </form>
    </body>
    <script src="/dashboard/index.js"></script>
</html>