<div class="bg-light">
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
              <h1 class="display-4">A new way to learn ASL</h1>
              <p class="lead text-muted mb-0">Interactive quizzes, lessons, and practice to make the learning process smooth. Handango offers a new way to learn ASL, signing in front of the webcam with real time results makes practicing exciting and fun!</p>
              
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="assets/Images/A.png" alt="" class="img-fluid"></div>
          </div>
        </div>
      </div>
      
      <div class="bg-white py-5">
        <div class="container py-5">
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Easy way to keep track of your progress</h2>
              <p class="font-italic text-muted mb-4">Your dashboard will keep things organized for you to ease the learning process. Lessons will become unlocked as you progress and Ace those quizzes. Whether you can practice for 5 minutes or an hour, you can always logout and return to your dashboard where you left off as Handango saves your progress!</p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="assets/Images/S.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="assets/Images/L.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Multiple ways of registering for Handango</h2>
              <p class="font-italic text-muted mb-4">Handango offers various ways of registering. No email? Thats ok, you can still register if you have a google or facebook account. You can always switch to a different account type within your profile settings!<a routerLink = "/loginSignup"> Sign up now!</a></p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="bg-light py-5">
        <div class="container py-5">
          <div class="row mb-4">
            <div class="col-lg-5">
              <h2 class="display-4 font-weight-light">Our team</h2>
              <p class="font-italic text-muted">Meet the team of developers that made duohando possible</p>
            </div>
          </div>
      
          <div class="row text-center">
            <!-- Team item Nicholas-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/Images/nickJordan.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Nicholas Jordan</h5><span class="small text-uppercase text-muted">Front/Back-end developer</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="https://github.com/njordan3" class="social-link"><i class="fab fa-github"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/nicholas-jordan-80657920b" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item Alexisis-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/Images/alexisBarcenas.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Alexisis Barcenas</h5><span class="small text-uppercase text-muted">Back-end Developer</span>
                <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/ajbarcenas" class="social-link"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/alexisis-barcenas-29198a1b8/" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item Ray-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/Images/rayAyala.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Raymundo Ayala</h5><span class="small text-uppercase text-muted">Front-end developer</span>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="https://github.com/rayala3314" class="social-link"><i class="fab fa-github"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/raymundo-ayala-a08447161/" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- End-->
      
          </div>
        </div>
      </div>
      
      
      <footer class="bg-light pb-5">
        <div class="container text-center">
          <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
        </div>
      </footer>
      