<body id="content">
        <section class="jumbotron text-center">
            <div class="container">
            <h1>Dashboard</h1>
            <p class="lead text-muted">Welcome to your dashboard! Here you can start the interactive lessons along with seeing the progress of them. Lessons will become unlocked as they are completed 
                </p>
            </div>
        </section>
        <ng-template [ngIf]="Lessons">
            <div class="container">
                <div class="row">
                    <div class="col-sm" *ngFor="let lesson of Lessons">
                        <div class="card mx-auto" style="width: 21rem; height: 35rem;">
                            <img src= "assets/Images/lesson{{lesson.lesson_id}}.jpg" class="card-img-top" alt="lesson{{lesson.lesson_id}}">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center;" >Lesson {{lesson.lesson_id}}</h5>
                                <p class="card-text" style="text-align: center;">{{lesson.desc}}</p>
                                <div class="card-footer">
                                    <small><strong>Unlocked on:</strong>{{" "+lesson.unlock_date}}</small><br>
                                    <ng-template [ngIf]="lesson.last_time != null">
                                        <small><strong>Last Quiz grade:</strong>{{" "+lesson.last_grade+"% "}}
                                            <strong [hidden]="lesson.quiz_passed == 0"><span style="color:green">Passed</span></strong>
                                            <strong [hidden]="lesson.quiz_passed == 1"><span style="color:red">Failed</span></strong>
                                        </small><br>
                                        <small><strong>Last Quiz score:</strong>{{" "+lesson.last_score}}</small><br>
                                        <small><strong>Last Quiz time:</strong>{{" "+lesson.last_time.min+":"+lesson.last_time.sec}}</small><br>
                                    </ng-template>
                                </div>
                                <div class="container">
                                <div class="row card-footer mx-auto cols-auto" style="bottom: 0; position: absolute">
                                    <div class = "col">
                                    <button routerLink= '/dashboard/lesson{{lesson.lesson_id}}/lecture' class="btn col-sm" style="background-color: #04204e;" title="Lecture" onmouseover="this.style.backgroundColor = 'rgb(4, 32, 78, 0.8)'" onmouseout = "this.style.backgroundColor = 'rgb(4, 32, 78)'">
                                        <span style="color: white">Lecture</span>
                                    </button>
                                    </div>
                                    <div class = "col">
                                    <button  routerLink= '/dashboard/lesson{{lesson.lesson_id}}/practice' class="btn col-sm" style="background-color: #04204e;" title="Practice" onmouseover="this.style.backgroundColor = 'rgb(4, 32, 78, 0.8)'" onmouseout = "this.style.backgroundColor = 'rgb(4, 32, 78)'">
                                        <span style="color: white">Practice</span>
                                    </button>
                                    </div>
                                    <div class = "col" style="width: 50px; padding-top: 1px;">
                                    <button routerLink= '/dashboard/lesson{{lesson.lesson_id}}/quiz' class="btn col-sm" style="background-color: #04204e;" onmouseover="this.style.backgroundColor = 'rgb(4, 32, 78, 0.8)'" onmouseout = "this.style.backgroundColor = 'rgb(4, 32, 78)'"
                                        title="{{(lesson.practice_complete == 0) ? 'Finish this lessons quiz first' : 'Quiz'}}"
                                        [disabled]="lesson.practice_complete == 0">
                                        <span style="color: white">Quiz</span>
                                    </button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <div>
           <br>
        </div>

    
            

</body>