<html>
    <head>
        <meta charset="utf-8"/>
        <title>Duohando Lesson 2</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://duohando.com/favicon.ico">
    </head>
    <body>
        <p>WELCOME TO LESSON 2</p>
        <form action="/dashboard", method="GET">
            <div>
                <button>Go Back</button>
            </div>
        </form>
        <form action="/lesson2/lecture", method="GET">
            <div>
                <button>Lecture</button>
            </div>
        </form>
        <form action="/lesson2/practice", method="GET">
            <div>
                <button>Practice</button>
            </div>
        </form>
        <form action="/lesson2/quiz", method="GET">
            <div>
                <% if (practice_complete == 1) { %>
                    <button>Quiz</button>
                <% } else { %>
                    <p>Complete the practice to unlock the quiz</p>
                    <button disabled>Quiz</button>
                <% } %>
            </div>
        </form>
    </body>
</html>