html {
    scroll-behavior: smooth;
}
.bg-dark {
    background-color: #04204e !important;
}
.navbar-brand {
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
}
.navbar-dark .navbar-nav .nav-link {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-item {
    margin: 0 15px;
}
.navbar-dark .navbar-collapse {
    flex-direction: row-reverse;
}
.loginSignup {
    background-color: #24A0ED;
    border-radius: 11px;
    opacity: .8;


}
.loginSignup:hover {
    opacity: 1;
}
.loginSignup .nav-link:hover {
    background-color: #24A0ED;
    opacity: 1;
    border-radius: 11px;
    transition: ease-in-out 30ms;
    
}
