<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lesson 3: Practice</title>
  <link rel="stylesheet" href="/lessons/css/styles.css">
</head>
<body>
    <h1 style="text-align: center;margin: 50px;">WELCOME TO LESSON 3: Practice!</h1>
    <div id="current-slide"><%= practice_prog %></div>
    <div class="slideshow-container">
        <button id="prev-part">Previous Part</button>
        <button id="next-part">Next Part</button>
        <a id="prev-slide">&#10094;</a>
        <a id="next-slide">&#10095;</a>
    </div>

    <script type="module" src="/lessons/js/lesson3/lesson3-practice.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>