<div class="container">
  <div class="row px-3">
    <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
      <div class="img-left d-none d-md-flex"></div>

      <div class="card-body">
        <h4 class="title text-center mt-4">
          Login into account
        </h4>
        <form #loginForm="ngForm" (ngSubmit)="doLogin(loginForm)" class="form-box px-3">
          <div class="form-input">
            <span><i class="fa fa-envelope"></i></span>
            <input type="email" name="email" id="email" placeholder="Email Address" tabindex="10" required ngModel>
          </div>
          <div class="form-input">
            <span><i class="fa fa-key"></i></span>
            <input type="password" name="password" id="password" placeholder="Password" required ngModel>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-block text-uppercase">
              Login
            </button>
          </div>

          <div class="text-right">
            <a href="#" class="forget-link">
              Forget Password?
            </a>
          </div>

          <div class="text-center mb-3">
            or login with
          </div>

          <div class="row mb-3" class="buttonsRow">
            <div class="col-4">
              <a href="#" class="btn btn-block btn-social btn-facebook">
                <i class="fab fa-facebook-f"></i> Facebook
              </a>
            </div>

            <div class="col-4">
              <a href="#" class="btn btn-block btn-social btn-google">
                  <i class="fab fa-google"></i> Google
              </a>
            </div>

          </div>

          <hr class="my-4">

          <div class="text-center mb-2">
            Don't have an account?
            <a routerLink="/register" class="register-link">
              Sign Up Now
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
