<body>
    
<section id="showCase">
        <div class="container-showcase">
            <h1>Learn ASL. Communicate with anyone.</h1>
        </div>
        <div class="container" style="margin-left: 60px;">
            <button (click) = "toLearn()" class="btn btn-dark">Learn More</button>
        </div>
</section>

<section class="appDescrip" >
    <div class="container" id="learn">
        <h1 class="text-center">What is Handango?</h1>
        <div class="container">
                <div class="row">
                  <div class="col">
                      <img src="assets/Images/signLang.png" alt="">
                  </div>
                  <div class="col">
                      <h3 style="text-align: center;">The best new way to learn ASL</h3>
                      <p>Duohando is a fun and exciting way to learn the American Sign Language. Making it easy to learn how to sign and be able to communicate with anyone</p>
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                        <h3 style="text-align: center;">Personalized lesson for every user</h3>
                        <p>Upon registering for Duohando. You will get a set of lessons, practice, and quizzes that are randomly chosen for you. Everything is easily accessible from your dashboard! </p>
                  </div>
                  <div class="col">
                      <img src="assets/Images/personalLes.jpeg" alt="">
                  </div>
                  <div class="w-100"></div>
                  <div class="col">
                        <img src="assets/Images/aIsign.jpeg" alt="">
                    
                  </div>
                  <div class="col">
                        <h3 style="text-align: center;">AI sign evaluator</h3>
                        <p>The best feature of Duohando is that you can practice signing in front of your own webcam and get some live feedback.<br>Practing ASL has never been so much fun and exciting</p>  
                  </div>
                </div>
              </div>
    </div>
</section>
</body>