<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lesson 3: Quiz</title>
  <link rel="stylesheet" href="/lessons/css/styles.css">
</head>

<body>
    <h1 style="text-align: center;margin: 50px;">WELCOME TO LESSON 3: Quiz!</h1>
    <h2 style="text-align: center" id="timer"></h2>
    <div class="slideshow-container">
        <button id="prev-part">Submit</button>
        <button id="next-part">Next Part</button>
        <a id="prev-slide">&#10094;</a>
        <a id="next-slide">&#10095;</a>
    </div>

    <script type="module" src="/lessons/js/lesson3/lesson3-quiz.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>