<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lesson 2: Practice</title>
  <link rel="stylesheet" href="/lessons/css/styles.css">
</head>
<body>
    <h1 style="text-align: center;margin: 50px;">WELCOME TO LESSON 2: Practice!</h1>
    <div id="current-slide"><%= practice_prog %></div>
    <!-- Slideshow container -->
    <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="slide">
                <!--Drag and Drop Template-->
                <div id="dd-ASL-bank"></div>
                <div id="dd-ASL-answer-bank"></div>
                <!-------------------------->
            </div>
            <button id="prev-part">Previous Part</button>
            <div class="numbertext">1 / 4</div>
        </div>

        <div class="mySlides fade">
            <div class="slide">
                <!--Finger Spelling Template-->
                <div id="fs-ASL-bank"></div>
                <div id="fs-ASL-answer-bank"></div>
                <!---------------------------->
            </div>
            <div class="numbertext">2 / 4</div>
        </div>
    
        <div class="mySlides fade">
            <div class="slide">
                <!--Finger Spelling Interpretation Template-->
                <div id="fsi-ASL-bank"></div>
                <div id="fsi-ASL-answer-bank"></div>
                <!------------------------------------------->
            </div>
            <div class="numbertext">3 / 4</div>
        </div>

        <div class="mySlides fade">
            <!--Multiple Choice Template-->
            <div class="mc-slide">
                <div id="quiz"></div>
            </div>
            <!---------------------------->
            <button id="next-part">Next Part</button>
            <div class="numbertext">4 / 4</div>
        </div>

        <!-- Next and previous buttons -->
        <a id="prev-slide">&#10094;</a>
        <a id="next-slide">&#10095;</a>
    </div>

  <script type="module" src="/lessons/js/main.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</body>
</html>